@(exam: Exam, user: User)

    <div>
        <ul>
            <h3>Předmět:</h3>
            <li>@exam.getSubjectCode</li><br>

            <h3>Datum:</h3>
            <li>@exam.getDate</li><br>

            <h3>Místnost:</h3>
            <li>@exam.getRoom</li><br>

            <h3>Zkoušející:</h3>
            <li>@exam.getExaminer</li><br>

            <div class="actions">
                <a href="@routes.ExamController.blank" class="btn primary">Zpět</a>
            </div>
    </div>
    <br>
