@(examForm: Form[Exam], loggedUser: User)

@import helper._
@import helper.twitterBootstrap._
@import scala._

    @title = {
        Přidat zkoušku
    }

@main(title, nav = "exam", user = loggedUser) {

    @helper.form(action = routes.ExamController.add) {

        <fieldset>
            <legend>Informace o zkoušce</legend>

            @select(
                examForm("subjectCode"),
                options = options(Subject.getAllCodes),
                '_default -> "--- Vyberte kód předmětu ---",
                '_label -> "Kód předmětu",
                '_help -> "Vyberte kód předmětu."

            )
            @inputText(
                examForm("date"),
                '_label -> "Datum zkoušky (dd/MM/yyyy hh:mm)",
                '_help -> "Zadejte datum zkoušky."
            )

            @inputText(
                examForm("room"),
                '_label -> "Místnost",
                '_help -> "Zadejte místnost."
            )

            @select(
                examForm("examiner"),
                options = options(Teacher.getAllNames),
                '_default -> "--- Vyberte zkoušejícího ---",
                '_label -> "Zkoušející",
                '_help -> "Vyberte zkoušejícího."
            )

        </fieldset>


        <div class="actions">
            <input type="submit" class="btn primary" value="Vytvořit">
            <a href="@routes.ExamController.blank" class="btn">Zrušit</a>
        </div>
    }
}