@(exams: List[Exam], stud: Student, loggedUser: User)

@import helper._
@import helper.twitterBootstrap._

    @title = {
        Zkoušky
    }

@main(title, nav = "exam", user = loggedUser) {

    <h3>Termíny zkoušek</h3>

    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Kód předmětu</th>
                <th>Datum</th>
                <th>Místnost</th>
                <th>Zkoušející</th>
            </tr>
        </thead>
        <tbody>
        @exams.map { exam =>
            @views.html.exams.studentItem(exam, stud, loggedUser)
        }
        </tbody>
    </table>
}