@(subject: Subject, user: User)

    @title = {
        @subject.getName <small>kód: @subject.getCode()</small>
    }

@main(title, nav = "subject", user) {
    <div>
        <ul>
        <h3>Katedra:</h3>
        <li>@subject.getDepartment</li><br>
        <h3>Informace o předmětu:</h3>
        <li>@subject.getInformation</li><br>
        <h3>Garant:</h3>

        @if(subject.getGuarantor == null){
            <li>Předmět nemá garanta.</li><br>
        }  else {
            <li>@subject.getGuarantor</li>
        }

        <h3>Učitelé:</h3>
        @if(subject.getTeachers.isEmpty){
            <li>Předmět nemá žádné učitele.</li>
        } else {

            @for(teacher <- subject.getTeachers) {
                <li>@teacher.name</li>
            }
            <br>
        }
        </ul>

        <div class="actions">
            @if(user.getUserRole.equals("admin")){
                @helper.form(action = routes.SubjectController.edit(subject.getId)) {
                    <input class="btn primary" type="submit" value="Upravit">
                    <a href="@routes.SubjectController.blank" class="btn">Zpět</a>
                }
            }
            @if(user.getUserRole.equals("student")){
                @helper.form(action = routes.SubjectController.enrol(subject.getId)) {
                    <input class="btn primary" type="submit" value="Zapsat">
                    <a href="@routes.SubjectController.blank" class="btn">Zpět</a>
                    }
            }
        </div>
    </div>
    <br>
}