@(subject: Subject, user: User)

    @title = {
        @subject.getName <small>kód: @subject.getCode()</small>
    }

@main(title, nav = "subject", user) {
    <div>
        <ul>
        <h3>Katedra:</h3>
        <li>@subject.getDepartment</li><br>
        <h3>Informace o předmětu:</h3>
        <li>@subject.getInformation</li><br>
        <h3>Garant:</h3>

        @if(subject.getGuarantor == null){
            <li>Předmět nemá garanta.</li><br>
        }  else {
            <li>@subject.getGuarantor</li>
        }

        <h3>Učitelé:</h3>
        @if(subject.getTeachers.isEmpty){
            <li>Předmět nemá žádné učitele.</li>
        } else {

            @for(teacher <- subject.getTeachers) {
                <li>@teacher.getName()</li>
            }
            <br>
        }
        <h3>Studenti:</h3>
        @if(subject.getStudentList.isEmpty){
            <li>Předmět nemá žádné žáky.</li>
        } else {

            @for(student <- subject.getStudentList) {
                <li>@student.getName @student.getLastname</li>
            }
            <br>
            }
        </ul>

        <div class="actions">
            @if(user.getUserRole.equals("admin")){
                    <a href="@routes.SubjectController.edit(subject.getId)" class="btn primary">Upravit</a>
                    <a href="@routes.SubjectController.delete(subject.getId)" class="btn primary">Smazat</a>
                    <a href="@routes.SubjectController.blank" class="btn">Zpět</a>
            }
            @if(user.getUserRole.equals("student")){
                    @if(User.getStudent.getSubjects.contains(subject)){
                        <a href="@routes.SubjectController.leaveSubject(subject.getId)" class="btn primary" onclick="return confirm('Opravdu chcete předmět smazat?');">Zrušit zapsání</a>
                    } else {
                        <a href="@routes.SubjectController.enrol(subject.getId)" class="btn primary">Zapsat</a>
                    }
                    <a href="@routes.SubjectController.blank" class="btn">Zpět</a>
            }
        </div>
    </div>
    <br>
}