@(subjectForm: Form[Subject], loggedUser: User)

@import helper._
@import helper.twitterBootstrap._

    @title = {
        Přidat předmět
    }

@main(title, nav = "subject", user = loggedUser) {

    @helper.form(action = routes.SubjectController.save(subjectForm.get.getId)) {

        <fieldset>
            <legend>Informace o předmětu</legend>

            @inputText(
                subjectForm("name"),
                '_label -> "Název předmětu",
                '_help -> "Zadejte jméno předmětu.",
                '_error -> subjectForm.globalError
            )

            @inputText(
                subjectForm("code"),
                '_label -> "Kód předmětu",
                '_help -> "Zadejte kód předmětu."
            )

            @inputText(
                subjectForm("department"),
                '_label -> "Katedra",
                '_help -> "Zadejte katedru."
            )

            @select(
                subjectForm("guarantor"),
                options = options(Teacher.getAllNames),
                '_default -> "--- Vyberte garanta ---",
                '_label -> "Garant",
                '_help -> "Vyberte garanta."
            )
            @textarea(
                subjectForm("information"),
                '_label -> "Informace",
                '_help -> "Zadejte informace o předmětu."
            )

        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Upravit">
            <a href="@routes.SubjectController.delete(subjectForm.get.getId)" class="btn primary">Smazat</a>
            <a href="@routes.SubjectController.blank" class="btn">Zrušit</a>

        </div>

    }

}