@(student: Student, loggedUser: User)

@import helper._
@import helper.twitterBootstrap._

    @title = {
        Seznam zapsaných předmětů předmětů
    }

@main(title, nav = "subject", user = loggedUser) {
    <table>
        <thead>
            <tr>
                <th>Název předmětu</th>
                <th>Kód</th>
            </tr>
        </thead>
        <tbody>
        @student.getSubjects.map { subject =>
            @views.html.subjects.item(subject, loggedUser)
        }
        </tbody>
    </table>
    <div class="actions">
        <a href="@routes.SubjectController.blank" class="btn primary">Zpět</a>
    </div>
}