@(subjectForm: Form[Subject], loggedUser: User)

@import helper._
@import helper.twitterBootstrap._
@import scala._

    @title = {
        Přidat předmět
    }

@main(title, nav = "subject", user = loggedUser) {

    @helper.form(action = routes.SubjectController.add) {

        <fieldset>
            <legend>Informace o předmětu</legend>

            @inputText(
                subjectForm("name"),
                '_label -> "Název předmětu",
                '_help -> "Zadejte jméno předmětu.",
                '_error -> subjectForm.globalError
            )

            @inputText(
                subjectForm("katedra"),
                '_label -> "Katedra",
                '_help -> "Zadejte katedru."
            )

            @select(
                subjectForm("garant"),
                options = options(Teacher.getAllNames),
                '_default -> "--- Vyberte garanta ---",
                '_label -> "Garant",
                '_help -> "Vyberte garanta."
            )
            @textarea(
                subjectForm("information"),
                '_label -> "Informace",
                '_help -> "Zadejte informace o předmětu."
            )



        </fieldset>


        <div class="actions">
            <input type="submit" class="btn primary" value="Vytvořit">
            <a href="@routes.SubjectController.blank" class="btn">Zrušit</a>
        </div>

    }

}