@(subjects: List[Subject])

@import helper._
@import helper.twitterBootstrap._

    @title = {
        Předměty  <small><a href="@routes.SubjectController.create">přidat předmět</a></small>
    }

@main(title, nav = "SubjectController") {

    <h3>Seznam předmětů</h3>

    <ul id="SubjectController">
    @subjects.groupBy(_.katedra).map {
        case (subject, subjects) => {
            @views.html.subjects.group(subject, subjects)
        }
    }
        <ul>
        @subjects.map { subject =>
            @views.html.subjects.item(subject)
        }
        </ul>
    </ul>


}