@(subjects: List[Subject], loggedUser: User)

@import helper._
@import helper.twitterBootstrap._

    @title = {

        Předměty
        @if(loggedUser.getUserRole().equals("admin")) {
            <small><a href="@routes.SubjectController.create">přidat předmět</a></small>
        }
        @if(loggedUser.getUserRole().equals("student")) {
            <small><a href="@routes.SubjectController.enrolList">zobrazit zapsané předměty</a></small>
        }
    }

@main(title, nav = "subject", user = loggedUser) {
    <h3>Seznam všech předmětů</h3>
    <table>
        <thead>
            <tr>
                <th>Název předmětu</th>
                <th>Kód</th>
            </tr>
        </thead>
        <tbody>
        @subjects.map { subject =>
            @views.html.subjects.item(subject, loggedUser)
        }
        </tbody>
    </table>
}