@(userForm: Form[User], user: User)

@import helper._
@import helper.twitterBootstrap._
@import scala._

@title = {
        Změnit heslo
    }
    
@main(title, nav = "administration", user = user){


     

    @helper.form(action = routes.AdministrationController.changePassword(user.getName(), user.getLastName(), user.getEmail(), user.getUserRole())) {

        <fieldset> 
            @inputText(
                userForm("name"),
                '_label -> "Jméno",
                '_help -> "Zadejte jméno.",
                'readonly -> "readonly",
                '_error -> userForm.globalError
            )
            @inputText(
                userForm("lastName"),
                '_label -> "Příjmení",
                '_help -> "Zadejte příjmení.",
                'readonly -> "readonly",
                '_error -> userForm.globalError
            )

            @inputText(
                userForm("email"),
                '_label -> "Email",
                'readonly -> "readonly",
                '_help -> "Zadejte email."
            )
            @select(
                userForm("userRole"),
                options = options(User.getUserRoles),
                '_default -> "--- Vyberte uživatelskou roli ---",
                '_label -> "Uživatelská role",
                'readonly -> "readonly",
                '_help -> "Vyberte uživatelskou roli pro vytvářeného uživatele."
            )
            @inputPassword(
                userForm("oldPassword"),
                '_label -> "Původní heslo",
                '_help -> "Zadejte stávající heslo.",
                '_error -> userForm.error("password")
            )
            @inputPassword(
                userForm("password"),
                '_label -> "Heslo",
                '_help -> "Zadejte heslo, alespoň 6 znaků.",
                '_error -> userForm.error("password")
            )
            @inputPassword(
                userForm("repeatPassword"), 
                '_label -> "Zopakujte heslo",
                '_help -> "Napište heslo znovu.",
                '_error -> userForm.error("password")
            )

        </fieldset>


        <div class="actions">
            <input type="submit" class="btn primary" value="Změnit heslo">
            <a href="@routes.AdministrationController.choose" class="btn">Zrušit</a>
        </div>

    }
}