@(userForm: Form[User], user: User)

@import helper._
@import helper.twitterBootstrap._
@import scala._

@title = {
        Vytvořit nového uživatele
    }
@main(title,nav = "OtherController", user = user) {

@helper.form(action = routes.OtherController.add) {

        <fieldset>
            <legend>Informace o uživateli</legend>

            @inputText(
                userForm("name"),
                '_label -> "Jméno",
                '_help -> "Zadejte jméno a příjmení.",
                '_error -> userForm.globalError
            )

            @inputText(
                userForm("email"),
                '_label -> "Zadejte email",
                '_help -> "Zadejte email."
            )
            @inputPassword(
                userForm("password"),
                '_label -> "Heslo",
                '_help -> "Zadejte heslo, alespoň 6 znaků.",
                '_error -> userForm.error("password")
            )
            @inputPassword(
                userForm("repeatPassword"), 
                '_label -> "Zopakujte heslo",
                '_help -> "Napište heslo znovu.",
                '_error -> userForm.error("password")
            )

        </fieldset>


        <div class="actions">
            <input type="submit" class="btn primary" value="Vytvořit uživatele">
            <a href="@routes.OtherController.choose" class="btn">Zrušit</a>
        </div>

    }

}