@(userForm: Form[User], user: User)

@import helper._
@import helper.twitterBootstrap._
@import scala._

@title = {
        Změnit heslo
    }
    
@main(title, nav = "other", user = user){


     <p>Jméno: @user.name</p>
     <p>Email: @user.email</p>
     <p>Uživatelská role: @user.userRole</p>

    @helper.form(action = routes.OtherController.changePassword(user.name, user.email, user.userRole)) {

        <fieldset>   
            @inputPassword(
                userForm("oldPassword"),
                '_label -> "Původní heslo",
                '_help -> "Zadejte stávající heslo.",
                '_error -> userForm.error("password")
            )
            @inputPassword(
                userForm("password"),
                '_label -> "Heslo",
                '_help -> "Zadejte heslo, alespoň 6 znaků.",
                '_error -> userForm.error("password")
            )
            @inputPassword(
                userForm("repeatPassword"), 
                '_label -> "Zopakujte heslo",
                '_help -> "Napište heslo znovu.",
                '_error -> userForm.error("password")
            )

        </fieldset>


        <div class="actions">
            <input type="submit" class="btn primary" value="Změnit heslo">
            <a href="@routes.OtherController.choose" class="btn">Zrušit</a>
        </div>

    }
}