@(user: User,student: Student, teacher: Teacher)
@title = {
        Domácí úkoly
    }
@main(title,nav = "homework", user = user) {
    
    @if(user.getUserRole().equals("teacher")){
    <table>
        <thead>
            <tr>
                <th>Název předmětu</th>
                <th>Kód</th>
            </tr>
        </thead>
        <tbody>
        @teacher.getSubjects.map { subject =>
            @views.html.homeworks.itemSubject(subject, user)
        }
        </tbody>
    </table>
    }
    @if(user.getUserRole().equals("student")){
    <table>
        <thead>
            <tr>
                <th>Název předmětu</th>
                <th>Kód</th>
            </tr>
        </thead>
        <tbody>
        @student.getSubjects.map { subject =>
            @views.html.homeworks.itemSubject(subject, user)
        }
        </tbody>
    </table>
    }
}